<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"><!--Conexion con boostrapt-->
    <!--se llaman los fondos directamente desde google font-->
    <link rel="stylesheet" href="../assets/css/archivo.css"><!--  se llaman los estilos directamente del css -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"><!--Conexion con aos-->
    <link rel="shortcut icon" href="../img/logotipo-de-playstation.png" type="image/x-icon"><!--se llama un enlace para el logotipo de la pagina-->

    <title>Clases de Juegos</title><!--Se le da un titulo al home-->
</head>
<body class="body__fondo">
    <header>
        <!--comienzo del menu-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-color">
            <a class="navbar-brand" href="../index.html">PLAYGAMES<img src="../img/espada.png" alt="imagenespada"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./clasesdejuegos.html">Clases de Juegos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./precios.html">Precios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./noticias.html">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contactos.html">Contactos</a>
                    </li>
                

                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-menu-lg-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Juegos
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#aventuras"> Aventuras</a>
                    <a class="dropdown-item" href=""></a>
                    <a class="dropdown-item" href="#thelast">The last of Us</a>
                    <a class="dropdown-item" href="#bandicoot">Crash Bandicoot</a>
                    <a class="dropdown-item" href="#uncharted">Uncharted 4</a>
                    <a class="dropdown-item" href="#spiderman">Spiderman</a>
                    <a class="dropdown-item" href="#war">god of war</a>
                    <hr>
                    <a class="dropdown-item" href="#accion"> Acción</a>
                    <a class="dropdown-item" href=""></a>
                    <a class="dropdown-item" href="#colosus">Shadow of the Colossus</a>
                    <a class="dropdown-item" href="#zero">Horizon Zero Down</a>
                    <a class="dropdown-item" href="#read">Read Dead Redemption 2</a>
                    <a class="dropdown-item" href="#warzone">Call Of Dutty Warzone</a>
                    <a class="dropdown-item" href="#watch">Watch Dogs Legion</a>
                    <hr>
                    <a class="dropdown-item" href="#deportes"> Deportes</a>
                    <a class="dropdown-item" href=""></a>
                    <a class="dropdown-item" href="#fifa">Fifa 21</a>
                    <a class="dropdown-item" href="#nba">Nba 2021</a>
                    <a class="dropdown-item" href="#tony">Tony Hawk´s 2</a>
                    <a class="dropdown-item" href="#ufc">Ufc 4</a>
                    <a class="dropdown-item" href="#pes21">Pes 21</a>
                </div>
            </ul>
            </div>
        </nav>      
        <!--final del menu-->
    </header>      
    <br>
    <!--Composicion de cada una de las cartas en el cuerpo de la pagina la cual representa los juegos-->
    <div class="titulo__Clases">
        <h1 class="ml6">
            <span class="text-wrapper">
                <span class="letters">Clases de Juegos</span>
            </span>
        </h1>
    </div>
    
    <div class="subtitulos_juegos">
        <h2 id="aventuras">
            Aventuras
        </h2>
    </div>
    
    <div data-aos="fade-up">
    <section class="card-deck">
        <div class="cart">
            <div class="card">
                <img src="../img/The_lastUs.jpg" class="card-img-top" alt="imagenthelast" id="thelast">
                <div class="card-body">
                    <h5 class="card-title">The last of Us 2</h5>
                    <p class="card-text">Antes era el turno de Joel ahora es el turno de Ellie de ir por esta travesía con suspenso en busca de Abby.</p>
                    <button class="boton__card"><a href="https://www.youtube.com/watch?v=qPNiIeKMHyg"> Ver Tráiler </a></button>
                </div>
            </div>
        </div>
        
        <div class="cart">
            <div class="card">
                <img src="../img/bandicoot.jpg" class="card-img-top" alt="imagencrash" id="bandicoot">
                <div class="card-body">
                    <h5 class="card-title">Crash Bandicoot N-sane trilogy</h5>
                    <p class="card-text">Ayuda a crash junto a Aku Aku a vencer a Cortex en esta aventura con coco su hermana.</p>
                    <button class="boton__card"><a href="https://www.youtube.com/watch?v=1Uai4Rd2wqY">Ver Tráiler</a></button><!--Aquí defino un pequeño trailer--><!--Aquí defino un pequeño trailer-->
                </div>
            </div>
        </div>

        <div class="cart">
            <div class="card">
                <img src="../img/uncharted.jpg" class="card-img-top" alt="imagenuncharted" id="uncharted">
                <div class="card-body">
                    <h5 class="card-title">Uncharted 4</h5>
                    <p class="card-text">Natán descubre que su hermano a estado vivo al creer que había muerto en una prisión panameña.</p>
                    <button class="boton__card"><a href="https://www.youtube.com/watch?v=ku02FEjm7jI"> Ver Tráiler </a></button><!--Aquí defino un pequeño trailer-->
                </div>
            </div>
        </div>
        
        <div class="cart">
            <div class="card">
                <img src="../img/spiderman.jpg" class="card-img-top" alt="imagenspiderman" id="spiderman">
                <div class="card-body">
                    <h5 class="card-title">Spider-man</h5>
                    <p class="card-text">Spider-man el juego de aventura mejor visto en el Play desde sus inicios, ayúdalo a vencer a sus enemigos.</p>
                    <button class="boton__card"><a href="https://www.youtube.com/watch?v=UpCrjE2hW-k"> Ver Tráiler </a></button><!--Aquí defino un pequeño trailer-->
                </div>
            </div>
        </div>
        
        <div class="cart">
            <div class="card">
                <img src="../img/god-of-war.jpg" class="card-img-top" alt="imagengodofwar" id="war">
                <div class="card-body">
                    <h5 class="card-title">god of war</h5>
                    <p class="card-text">Después de su historia en Grecia, kratos vuelve esta vez con un hijo y una aventura por descubrir.</p>
                    <button class="boton__card"><a href="https://www.youtube.com/watch?v=AN3jEjjcZ-k"> Ver Tráiler </a></button><!--Aquí defino un pequeño trailer-->
                </div>
            </div>
        </div>
    </section>
    </div>
    
    
    <div data-aos="fade-up"><!--conexion con una animacion de la libreria aos-->
    <div class="subtitulos_juegos">
        <h2 id="accion">
            Acción
        </h2>
    </div>
    
    <section class="card-deck">
        
        <div class="cart">
            <div class="card">
                <img src="../img/colosus.jpg" class="card-img-top" alt="imagenshadowcolosus" id="colosus">
                <div class="card-body">
                    <h5 class="card-title">Shadow of the Colossus</h5>
                    <p class="card-text"> Wander debe de viajar a caballo para derrotar 16 gigantes y devolver la vida a una joven</p>
                    <button class="boton__card"><a href="https://www.youtube.com/watch?v=PIpoaKrLf5g"> Ver Tráiler </a></button><!--Aquí defino un pequeño trailer-->
                </div>
            </div>
        </div>
        
        <div class="cart">
            <div class="card">
                <img src="../img/horizonz.jpg" class="card-img-top" alt="imagenHorizonzero" id="zero">
                <div class="card-body">
                    <h5 class="card-title">Horizon Zero Down </h5>
                    <p class="card-text">El juego se ambienta en un mundo post-apocalíptico donde reina la naturaleza y las zonas rurales.</p>
                    <button class="boton__card"><a href="https://www.youtube.com/watch?v=_BvZvkT5QHw"> Ver Tráiler </a></button><!--Aquí defino un pequeño trailer-->
                </div>
            </div>
        </div>
        
        <div class="cart">
            <div class="card">
                <img src="../img/Red-Dead-Redemption-2.jpg" class="card-img-top" alt="imagenreddead" id="read">
                <div class="card-body">
                    <h5 class="card-title">Read Dead Redemption 2</h5>
                    <p class="card-text">Entra al comienzo del fin del salvaje oeste con un wester para capturar los ladrones.</p>
                    <button class="boton__card"><a href="https://www.youtube.com/watch?v=-8MN89fIaJ8"> Ver Tráiler </a></button><!--Aquí defino un pequeño trailer-->
                </div>
            </div>
        </div>
        
        <div class="cart">
            <div class="card">
                <img src="../img/warzone.jpg" class="card-img-top" alt="imagenwarzone" id="warzone">
                <div class="card-body">
                    <h5 class="card-title">Call Of Dutty Warzone</h5>
                    <p class="card-text">Un juego de acción donde podrás conectarte en linea con amigos y divertirte.</p>
                    <button class="boton__card"><a href="https://www.youtube.com/watch?v=qDQKeC5Vftk"> Ver Tráiler </a></button><!--Aquí defino un pequeño trailer-->
                </div>
            </div>
        </div>
        
        <div class="cart">
            <div class="card">
                <img src="../img/watch_dogs.jpg" class="card-img-top" alt="imagenwatchdogs" id="watch">
                <div class="card-body">
                    <h5 class="card-title">Watch Dogs Legion</h5>
                    <p class="card-text">Trabaja en un mundo paralelo donde un hacker lucha para que todo el mal sea revelado y este a la luz.</p>
                    <button class="boton__card"><a href="https://www.youtube.com/watch?v=F11svbrAaA0"> Ver Tráiler </a></button><!--Aquí defino un pequeño trailer-->
                </div>
            </div>
        </div>
    </section>
    
    <div data-aos="fade-up"><!--conexion con una animacion de aos-->
    <div class="subtitulos_juegos">
        <h2 id="deportes">
            Deportes
        </h2>
    </div>

    <section class="card-deck">
        
        <div class="cart">
            <div class="card">
                <img src="../img/fifa.png" class="card-img-top" alt="imagenfifa" id="fifa">
                <div class="card-body">
                    <h5 class="card-title">Fifa 21</h5>
                    <p class="card-text"> Fifa 21 continua lo que viene siendo este juego deportivo con plantillas actualizadas.</p>
                    <button class="boton__card"><a href="https://www.youtube.com/watch?v=Jmliox1trPQ"> Ver Tráiler </a></button><!--Aquí defino un pequeño trailer-->
                </div>
            </div>
        </div>
        
        <div class="cart">
            <div class="card">
                <img src="../img/nba.jpg" class="card-img-top" alt="imagennba" id="nba">
                <div class="card-body">
                    <h5 class="card-title">Nba 2021 </h5>
                    <p class="card-text">Nba 2021 un juego deportivo para aquellos amantes del basketball NBA</p>
                    <button class="boton__card"><a href="https://www.youtube.com/watch?v=Ib5ygUYjHZI"> Ver Tráiler </a></button><!--Aquí defino un pequeño trailer-->
                </div>
            </div>
        </div>
        
        <div class="cart">
            <div class="card">
                <img src="../img/Tony.jpg" class="card-img-top" alt="imagentony" id="tony">
                <div class="card-body">
                    <h5 class="card-title">Tony Hawk´s 2</h5>
                    <p class="card-text">Tony Hawk´s es un juego deportivo  para todos los amantes del skateboard en consola</p>
                    <button class="boton__card"><a href="https://www.youtube.com/watch?v=GjugTk9ovcI"> Ver Tráiler </a></button><!--Aquí defino un pequeño trailer-->
                </div>
            </div>
        </div>
        
        <div class="cart">
            <div class="card">
                <img src="../img/UFC.jpg" class="card-img-top" alt="imagenUfc4" id="ufc">
                <div class="card-body">
                    <h5 class="card-title">Ufc 4</h5>
                    <p class="card-text">Ufc 4 es un juego de boxeo deportivo y es querido por amantes de este deporte</p>
                    <button class="boton__card"><a href="https://www.youtube.com/watch?v=qDQKeC5Vftk"> Ver Tráiler </a></button><!--Aquí defino un pequeño trailer-->
                </div>
            </div>
        </div>
        
        <div class="cart">
            <div class="card">
                <img src="../img/pes.jpg" class="card-img-top" alt="imagenpes21" id="pes21">
                <div class="card-body">
                    <h5 class="card-title">Pes 21</h5>
                    <p class="card-text">Pes 21 es un juego deportivo actualizado en plantillas y juego a nivel de clubes</p>
                    <button class="boton__card"><a href="https://www.youtube.com/watch?v=omQu1s5bxSo"> Ver Tráiler </a></button><!--Aquí defino un pequeño trailer-->
                </div>
            </div>
        </div>
        
    </section>
    
    <footer class="footerClases" class="page-footer font-small special-color-dark pt-4">
        <!-- Footer Elements -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Social buttons -->
                    <ul class="list-unstyled list-inline text-center">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1">
                                <a href="https://www.facebook.com/"><img src="../img/facebook.png" alt="facebook"></a>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-ws mx-1">
                                <a href="https://web.whatsapp.com/"><img src="../img/Whatsapp.png" alt="whatsapp"></a>
                            </a>  
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-tw mx-1">
                                <a href="https://twitter.com/?lang=es"><img src="../img/twitter.png" alt="twitter"></a>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-in mx-1">
                                <a href="https://www.instagram.com/play.gamesshop03/?hl=es-la"><img src="../img/Instagram.png" alt="instagram"></a>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-gh mx-1">
                                <a href="https://github.com/"><img src="../img/github.png" alt="github"></a>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-li mx-1">
                                <a href="https://www.linkedin.com/"><img src="../img/linkedin.png" alt="linkedin"></a>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>    
        </div>
            
            <!-- Copyright -->
            <div class="footer-copyright text-center py-1">
                <p>Términos de uso y Condiciones <br> © Derechos Reservados </p>
            </div>
            <!-- Copyright -->
        
        </footer>
        <!-- Footer -->           
    <!--Zona de scripts conectados con boostrapt, aos y javascript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"  integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="../js/script2.js"></script>
</body>
</html>