<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/archivo.css"><!--  se llaman los estilos directamente del css -->
    <link rel="shortcut icon" href="../img/logotipo-de-playstation.png" type="image/x-icon"><!--se llama un enlace para el logotipo de la pagina-->
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--se llaman los fondos directamente desde google font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"><!--conexion con Boostrapt-->
    
    <title>Noticias</title><!--Se le da un titulo al home-->
</head>
<body class="body__fondo">
    <header>
        <!--Menu de la pagina-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-color">
            <a class="navbar-brand" href="../index.html">PLAYGAMES<img src="../img/espada.png" alt="imagenespada"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./clasesdejuegos.html">Clases de Juegos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./precios.html">Precios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./noticias.html">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contactos.html">Contactos</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Fin del menu-->
    </header>   
    <div class="titulo__Precios"><!--defino mi titulo-->
        <h2 class="ml2"><!--llame a la clase asi ya que la reutilice del css-->
            Noticias
        </h2>
    </div>
    <div id="diseño_noticias">
        <!--a través de un grid se arreglan los diseños de la pagina-->
        <div class="container"><!--contenedor de grid-->
            <aside class="cardPrecioUno"><!--class cargada como un contenedor-->
                <img src="../img/playstationplus.jpg" alt="imagenPSP"><!--imagen -->
                <div class="textCambioUno">
                    <h3 class="su"> PlayStationPlus </h3><!--esto es hecho para cada clase de aquí abajo-->
                    <p class="precioDos"> PlayStation Plus una de las mejores cuentas que te ayudará a obtener más juegos en el mes y en el año.</p>
                </div>
            </aside>
            <aside class="cardPrecioUno">
                <img src="../img/play-station-network.jpg" alt="imagenPSN">
                <div class="textCambioUno">
                    <h3 class="su"> PlayStation Network </h3>
                    <p class="precioDos"> PlayStation Network es un tipo de cuenta que me permite estar unido a todas las cuentas después de que este registrado en ella.</p>
                </div>
            </aside>
            <aside class="cardPrecioUno">
                <img src="../img/psn.jpeg" alt="imagenPS">
                <div class="textCambioUno">
                    <h3 class="su"> PlayStation Store </h3>
                    <p class="precioDos"> PlayStation Store es un tipo de cuenta que se asocia con el PlayStation Network y permite que después que el usuario cree su cuenta, él pueda descargar lo que necesite de ella.</p>
                </div>
            </aside>
            <aside class="cardPrecioUno">
                <img src="../img/simbolos.jpg" alt="imagenPS">
                <div class="textCambioUno">
                    <h3 class="su"> PlayStation </h3>
                    <p class="precioDos">El PlayStation es una marca muy reconocida, con sus símbolos que las representan estas cuentas son muy importantes para su total funcionamiento y descargas de juegos virtuales, también se debe tener en cuenta que existieron cuando apenas surgió el PlayStation3.</p>
                </div>
            </aside>
        </div>
        <!--Zona de las noticias con sus imagenes y su lectura-->
        <div class="container2">
            
            <article class="texto">
                <h2>Sony anuncia que se vendran más juegos para el PlayStation 4 y PlayStation 5</h2>
                <div class="direccion">
                <img src="../img/noticia.jpg" alt="imagenNoticiasony">
                <p> La compañía de Sony ha anunciado el día de hoy a que se inaugurarán nuevos juegos, no han sido muy claros con el día ni la hora pero el estreno de estos video juegos dejara a sus seguidores de varios personajes reconocidos por la Play muy animados a seguir viendo la historia de sus personajes favoritos.</p>
                </div>
            </article>

            <hr>
            
            <article class="textoUno">
                <h2>Fifa acaba de anunciar la alianza que obtendrá con el catálogo de EA Play</h2>
                <div class="direccion">
                <p> El famoso juego de fifa21 ha decidido contar con el catálogo de EA Play, se rumora que fue algo que ya se habia planeado hace mucho tiempo, pero faltaban pocos detalles para concretarlo, ya que esto es un hecho los jugadores de este juego podrán disfrutar viendo sus futbolistas favoritos.</p>
                <img src="../img/fi.jpg" alt="imagenNoticiafifa">
                </div>
            </article>

            <hr>

            <article class="textoUno">
                <h2>Fornite el juego que está causando revuelo en todos sus usuarios</h2>
                <div class="direccion">
                <img src="../img/forn.jpg" alt="imagenNoticiafornite">
                <p> Al parecer fornite uno de los mejores juegos de la historia está causando un poco de revuelo en sus usuarios al parecer el juego ha avanzado tanto que los jóvenes se interesan más en el, según un reportaje dictado para la empresa Epic Games este juego ha sido uno de los más vendidos en su mercado.</p>
                </div>
            </article>
            </div>
        </div>
    </div>
    
    <footer class="footerNoticias" class="page-footer font-small special-color-dark pt-4">
        <!-- Footer Elements -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Social buttons -->
                    <ul class="list-unstyled list-inline text-center">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1">
                                <a href="https://www.facebook.com/"><img src="../img/facebook.png" alt="facebook"></a>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-ws mx-1">
                                <a href="https://web.whatsapp.com/"><img src="../img/Whatsapp.png" alt="whatsapp"></a>
                            </a>  
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-tw mx-1">
                                <a href="https://twitter.com/?lang=es"><img src="../img/twitter.png" alt="twitter"></a>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-in mx-1">
                                <a href="https://www.instagram.com/play.gamesshop03/?hl=es-la"><img src="../img/Instagram.png" alt="instagram"></a>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-gh mx-1">
                                <a href="https://github.com/"><img src="../img/github.png" alt="github"></a>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-li mx-1">
                                <a href="https://www.linkedin.com/"><img src="../img/linkedin.png" alt="linkedin"></a>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>    
        </div>
            
            <!-- Copyright -->
            <div class="footer-copyright text-center py-1">
                <p>Términos de uso y Condiciones <br> © Derechos Reservados </p>
            </div>
            <!-- Copyright -->
        
        </footer>
        <!-- Footer -->

    <!--Zona de scripts donde se conecta con javascript, y boostrapt-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="../js/script3.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"  integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>